.apropos{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.apropos-gauche{
    flex-basis: 40%; 
    position: relative;
}

.apropos-droite{
    flex-basis: 56%;
}

.apropos-img{
    width: 100%;
    border-radius: 10px;
}

.icone-apropos-img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.apropos h3{
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;
}
.apropos h3{
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    min-width: 400px;
}
.apropos p{
    color: #676767;
    margin-bottom: 15px;
}