.titres{
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0 20px;
}

.titres h2{
    font-size: 32px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}